{% extends 'layouts/master.html' %}

{% block title %}User{% endblock %}

{% block content %}
{% comment %} {% if user.is_authenticated %}
  Hi {{ user.username }}!
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %} {% endcomment %}

<div class="card">
    <div class="card-body">
      <h5 class="card-title">Vertical Form</h5>
      <!-- Vertical Form -->
      <form class="row g-3" action="{% url 'user:store' %}" method="POST">
          {% csrf_token %}
        <div class="col-12">
          <label for="inputNanme4" class="form-label">Your Name</label>
          <input type="text" class="form-control" id="inputNanme4">
        </div>
        <div class="col-12">
          <label for="inputEmail4" class="form-label">Email</label>
          <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="col-12">
          <label for="inputPassword4" class="form-label">Password</label>
          <input type="password" class="form-control" id="inputPassword4">
        </div>
        <div class="col-12">
          <label for="inputAddress" class="form-label">Address</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="reset" class="btn btn-secondary">Reset</button>
        </div>
      </form><!-- Vertical Form -->

    </div>
  </div>
{% endblock %}